www.3catz.icu {
  encode gzip

  log {
	output stdout
	format json
  }

  # API 请求，优先级高
  reverse_proxy /api/* api:8080
  reverse_proxy /v1/* api:9091

  # 后台管理页面代理
  reverse_proxy /backend/* web:80

  # 前台博客页面代理
  reverse_proxy web:80
}
