name: Run unit tests

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'web/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'web/**'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    env:
      ENV_PASSPHRASE: ${{ secrets.ENV_PASSPHRASE }}

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: groonga/pgroonga:3.2.3-alpine-16
        # Provide the password for postgres
        env:
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: nostalgia
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.22.4
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Decrypt ENV
        run: |
          make decrypt_env env=dev

      - name: Install golang-migrate
        run: |
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.12.2/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate.linux-amd64 /usr/bin/migrate
          which migrate

      - name: Run migrations
        run: make migrateup

      - name: Test
        run: make test